@using Scanner.Controllers
@{
    ViewData["Title"] = "Inicio";
}

<h1>There are @Model.Count reports</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Domain</th>
        <th>Request date</th>
        <th>Status</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (ReportController.ListReportsItem item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Report" asp-action="Details" asp-route-domain="@item.DomainName" asp-route-id="@item.Id">@item.Id</a>
            </td>
            <td>@item.DomainName</td>
            <td>@item.RequestedAt.ToString("yyyy-MM-dd")</td>
            <td>@item.Status</td>
        </tr>
    }
    </tbody>
</table>

<h2>Create a new report</h2>

<form asp-controller="Report" asp-action="Create">
    <label for="domain">Domain:</label>
    <input type="text" id="domain" name="domain" required>
    <button type="submit">Create</button>
</form>